
.primario{
    margin: 2px;
    display: inline-block;
    padding-left: 0px;
    width: 300px;
    height: 405px;
    padding-left: 0px;
    border: 3px solid #333333;
    border-radius: 15px;
    background-color: white ;

}

.img{
    margin-top: 5px;
    padding-left: 5px;
    width: auto;
    height: auto;
}

.imagen {
    width: 285px;
    height: 200px;
    border: 2px solid #000000 ;
    border-radius: 15px;
}

.etiquetas{
    margin-top: 10px;
    margin-left: 10px;
}

a{
    background: gray; 
    color: #000000;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

.etiquetas a:hover{
    background-color: white;

}

.etiqueta_1{
    display: inline-block;
    height: 25px;
    width: 70px;
    margin: 2px;
    padding-top: 6px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    border: medium;
    border-radius: 8px;
    
}

.articulo{

}

.titulo{
    color: #000000;
    font-family: sans-serif;
    text-align: left;
    margin: 2px;
    padding-top: 10px;
    padding-left: 10px;
}

p{
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.boton_1{
    font-family:sans-serif;
    height: 45px;
    width: 140px;
    margin-left: 1px;
    color:#053183;
    background-color: white;
    border-radius: 15px;
    border-color: #053183;
}

.boton_2{
    font-family: sans-serif;
    height: 45px;
    width: 140px;
    margin-left: 10px;
    color: white;
    background-color: #053183;
    border-radius: 15px;
    border-color: #053183;
}
